<html>
  <head>
    <style>
      .container { height: 100%; width: 100%; align: center; text-align: center;
      } .line { padding: 20px 10px; }
    </style>
  </head>
  <body>
    <main class='container'>
      <h1>Comprovante de compra de créditos Estacione Aqui</h1>
      <div>
        <span>Nome: {{name}}</span>
      </div>
      <div>
        <span>Veículo: {{license_plate}}</span>
      </div>
      <div>
        <span>Válido até: {{validity}}</span>
      </div>
      <div>
        <span>Valor pago: {{price}}</span>
      </div>
    </main>
  </body>
</html>